/* La version mobile */

body {
    width: 100%;
    margin: auto;
    max-width: 1500px;
}


/* Welcome Page */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #868992;
    background: #f6e6c3;
    font-size: 1rem;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    padding-bottom: 40px;
    z-index: 1;
}

header .left {
    margin: 20px 0px 10px 20px;
}

.left .text {
    font-size: 1.7rem;
}

header .right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 15px;
    right: 0;
    background-color: #dfa663;
    width: 200px;
    font-size: 3rem;
    border-radius: 0% 0% 10% 60%;
}

header i {
    color: #868992;
}

header .btn {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px white solid;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8rem;
}

.btn i {
    margin: 2px 0px 0px 2px;
    color: #868992;
}

.btn input {
    border: none;
    height: 30px;
    font-size: 1.1rem;
    color: #868992;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgba(192, 192, 192, 0.5);
    margin-top: -10px;
    z-index: 2;
}

main h1 {
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 10px 7.5px 0px 7.5px;
    padding: 10px;
    font-size: 1.7rem;
}

main article {
    display: flex;
    flex-direction: column;
    height: 1100px;
    margin: -2px 20px 20px 20px;
}

article a {
    color: black;
    text-decoration: none;
}

article .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    opacity: 0.4;
    height: 40px;
    color: black;
    border-radius: 15px 15px 0px 0px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px black solid;
}

article .brand {
    margin-left: 20px;
}

article .price {
    margin-right: 20px;
}

article #product_1 {
    background-image: url(../images/vcam_1.jpg);
    height: 200px;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    cursor: pointer;
}

article #product_2 {
    background-image: url(../images/vcam_2.jpg);
    height: 200px;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    cursor: pointer;
}

article #product_3 {
    background-image: url(../images/vcam_3.jpg);
    height: 200px;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    cursor: pointer;
}

article #product_4 {
    background-image: url(../images/vcam_4.jpg);
    height: 200px;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    cursor: pointer;
}

article #product_5 {
    background-image: url(../images/vcam_5.jpg);
    height: 200px;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column-reverse;
    color: white;
    height: 120px;
    padding: 0px 20px 0px 20px;
    position: relative;
    background: linear-gradient(#5b3c11, white);
    box-shadow: inset 0px 5px 5px 0px white;
}

footer .h2 {
    background-color: #5b3c11;
    height: 5px;
    width: 200px;
    margin: auto;
    border-radius: 2px;
}

footer .list {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 20px 0px;
    justify-content: space-between;
}

footer .elt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer i {
    margin-bottom: 10px;
    width: 10px;
    height: 10px;
}


/* Product Page */

.header {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 120px;
}

.header .btn {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    margin: auto;
}

.btn input {
    width: 100%;
}

.header .shopping {
    position: absolute;
    bottom: 10px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .parrainage {
    position: absolute;
    bottom: 10px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .aboutus {
    position: absolute;
    top: 10px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo {
    position: absolute;
    top: 15px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header i {
    color: #dfa663;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: rgba(192, 192, 192, 0.5);
    margin-top: -10px;
    z-index: 2;
    height: 560px;
}

.main h1 {
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 10px 7.5px 0px 7.5px;
    padding: 10px;
    font-size: 1.7rem;
}

.main article {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.main #product_1 {
    background-image: url(../images/vcam_1.jpg);
    height: 200px;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    cursor: pointer;
    z-index: 4;
}

.main .info {
    display: flex;
    flex-direction: column;
    height: 250px;
    margin-top: -20px;
    padding: 10px;
    background-color: #f6e6c3;
    border-radius: 0px 0px 15px 15px;
    z-index: 3;
}

.info .description {
    margin: 20px 0px 4px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info .elt {
    margin: 10px 0px 4px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.elt .aside {
    margin-left: 10px;
}

.elt input {
    width: 156px;
    border: none;
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: black;
    font-weight: bold;
}

.elt2 input {
    width: 224px;
    background-color: #dfa663;
    border: none;
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: black;
    font-weight: bold;
}

@media (min-width: 768px) {
    main h1 {
        text-align: center;
    }
    main article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 500px;
        margin-top: 20px;
    }
    article .brand {
        margin-left: 20px;
    }
    article .price {
        margin-right: 20px;
    }
    article #product_1 {
        width: 30%;
    }
    article #product_2 {
        width: 30%;
    }
    article #product_3 {
        width: 30%;
    }
    article #product_4 {
        width: 30%;
    }
    article #product_5 {
        width: 30%;
    }
    /* Produit */
    .main {
        align-items: center;
    }
    .main .info {
        width: 430px;
    }
    .main #product_1 {
        width: 450px;
    }
    .main #product_2 {
        width: 412px;
    }
    .main #product_3 {
        width: 412px;
    }
    .main #product_4 {
        width: 412px;
    }
    .main #product_5 {
        width: 412px;
    }
}